.project-title {
    font-size: 35px;
    color: #FF8A65;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
    font-weight: 500;
}


.flip-box-container{
    width: 100%;
    display: inline-block;
    padding: 15px;
    text-align: center;
}

.flip-box-inner {
    width: 100%;
    height: 350px;
    display: inline-block;
    margin-top: 10px;
    float: left;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    box-shadow: 11px 11px 22px #14181b,
    -11px -11px 22px #3b4851;
}

.flip-box-front {
    background-color: #273036;
    color: white;
}

.flip-box-back {
    display: inline-block;
    background-color: white;
    color: #273036;
    transform: rotateY(180deg);
}

.flip-box-title {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.project-img {
    padding: 10px;
    display: inline-block;
    width: 100%;
    height: auto;
    overflow: auto;
    float: left;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.github-link {
    display: block;
    position: relative;
    width: 100%;
    color: #FF8A65;
}

.github {
    color: #FF8A65;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: transform .2s;
}
.github-icon {
    transition: transform .2s;
    border-radius: 12px;
    background: #273036;
    box-shadow:  5px 5px 11px #1d2429,
    -5px -5px 11px #313c44;
    padding: 5px;
}

.github-icon:hover {
    border-radius: 12px;
    background: #273036;
    box-shadow: inset 5px 5px 11px #1d2429,
    inset -5px -5px 11px #313c44;
}

@media (min-width: 450px) {
    .section--container{
        display: block;
        width: 100%;
        padding: 50px;
        box-sizing: border-box;
    }

    .flip-box {
        display: inline-block;
        width: 350px;
        box-sizing: border-box;
        vertical-align: top;
        text-align: left;
        margin: 20px;
    }

    .box-description {
        padding: 10px;
        text-align: justify;
        font-size: 15px;
    }

    .project-tools {
        padding: 10px;
        text-align: justify;
        font-size: 19px;
    }
}

@media (max-width: 450px) {
    .section--container{
        display: block;
        width: 100%;
        padding: 50px 5px;
        box-sizing: border-box;
    }

    .flip-box {
        display: inline-block;
        width: 300px;
        box-sizing: border-box;
        vertical-align: top;
        text-align: left;
        margin: 5px;
    }

    .box-description {
        padding: 10px;
        text-align: justify;
        font-size: 12px;
    }

    .project-tools {
        padding: 10px;
        text-align: justify;
        font-size: 14px;
    }
}




