* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #273036;
}

.landing-page {
  margin-left: 15%;
  margin-right: 15%;
  /* background-color: var(--primary-color);
  background-image: url(
    "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */

}

.main {
  margin-top: 36px;
  min-height: 100vh;
  padding-bottom: 80px;
  padding-top: 120px;
  width: 100%;
  /* background-color: var(--primary-background); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.main-content h3 {
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: 600;
}

.main-content h1 {
  color: var(--white);
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.main-content h1 span {
  color: var(--secondary-color);
}

.main-content h2 {
  color: var(--white);
  font-weight: 600;
  font-size: 3.5rem;
}

.main-svg {
  position: absolute;
  right: -200px;
}

.btn-grp {
  margin-top: 5.5rem;
  display: flex;
  align-items: center;
}

.top-btn {
  width: 180px;
  height: 55px;
  color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 6px 21px 6px rgba(0, 0, 0, 0.2);
  user-select: none;
  transition: 0.3s;
  transition-property: box-shadow;
}
.top-btn p {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0px;
  color: var(--primary-color);
  font-family: var(--montserrat);
}

.top-btn:hover {
  box-shadow: 5px 6px 12px 4px rgba(0, 0, 0, 0.31);
}

.primary {
  background-color: var(--territory-color);
  margin-right: 40px;
}

.secondary {
  background-color: var(--secondary-color);
}


/* Media Queries */
@media only screen and (max-width: 1920px){
    .landing-page {
        margin-left: 15%;
    }
}

@media only screen and (max-width: 1300px){
    .top-btn {
        width: 160px;
        height: 50px;
    }
}
@media only screen and (max-width: 1440px){
    .landing-page {
        margin-left: 15%;
    }
}
@media only screen and (max-width: 970px){
    .landing-page {
        margin-left: 15%;
    }

    .main {
        margin-top: 0;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
    }

    .main-svg {
        margin-bottom: 5vh;
        height: 50%;
        position: static;
        right: 0;
    }

    .primary {
        margin-right: 20px;
    }

    .btn-grp {
        margin-top: 3rem;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px)
{
    .main {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .main-content h3 {
    font-size: 4.7vw;
    margin-bottom: 15px;
    }

    .main-content h1 {
        font-size: 10vw;
    }

    .main-content h2 {
        font-size: 5.5vw;
    }

    .btn-grp {
        width: 100%;
    }
}


@media only screen and (max-width: 500px) and (min-height: 580px){
    .main {
        padding-top: 18vh;
    }

    .main-content {
        padding-top: 3vh;
    }
}









/* SVG Animations & CSS */

#react-logo, #background #Vector_3 {
    animation: clockwiseRotate 5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#background #Vector_5 {
    animation: antiClockwiseRotate 5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#man #Vector_151 {
    animation: manArms 0.5s ease-in-out infinite alternate-reverse;
    transform-origin: top;
}

#man #Vector_145 {
    animation: manArms 1s ease-in-out infinite alternate;
    transform-origin: top;
}

#man #Vector_156 {
    animation: manBiceps 0.5s ease-in-out infinite alternate-reverse;
}

#java-logo #Vector_59, #java-logo #Vector_58 {
    animation: java-swell 7s ease-in-out -1.25s infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#man #Vector_125, #Vector_143 {
    animation: foot 1s ease-in-out infinite alternate;
    transform-origin: top;
    transform-box: fill-box;

}

#Vector_142 {
    animation: leg 1s ease-in-out infinite alternate;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes clockwiseRotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes antiClockwiseRotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(-360deg);
    }
}

@keyframes manArms {
    from{
        transform: rotateX(0deg);
        
    }
    to {
        transform: rotateX(7deg);
        
    }
}

@keyframes manBiceps {
    from{
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(2deg);
    }
}

@keyframes java-swell {
    0%, 100% {
    transform: translate3d(0,-5px,0);
    }
    50% {
    transform: translate3d(0,5px,0);
    }
}

@keyframes foot {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-6px);
    }
}

@keyframes leg {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(3deg);
    }
}

