.toolbar {
    position: fixed;
    width: 100%;
    background: #292c2f;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 50;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.7);
}
.toolbar_navigation{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar_logo {
    margin-left: 1rem;
    text-decoration: none;
}

.toolbar_logo a {
    color: #FF8A65;
    text-decoration: none;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.toolbar_logo a:hover {
    color: white;
    text-decoration: none;
}

.spacer {
    flex: 1 ;
}

.toolbar_navigation_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation_items li {
    font-size: 20px;
    padding: 0 1rem;
}

.toolbar_navigation_items a {
    color: #FF8A65;
    text-decoration: none;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.toolbar_navigation_items a:hover, .toolbar_navigation_items a:active {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .toolbar_navigation_items {
        display: none;
    }
}

@media (min-width: 769px) {
    .toolbar_toggle-button {
        display: none;
    }

    .toolbar_logo {
        margin-left: 0;
    }
    
}