
html{
  scroll-behavior: smooth;
}

.App {
  background-image: linear-gradient(to top, #30cfd0 0%, #324084 100%);
  text-align: center;
}

.App {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: block;
  height: 100%;
  width: 100%;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
  /*position: fixed;*/
  margin: 0 auto;
}

.big-picture {
  padding: 10px;
}

.About-Wrapper {
  position: relative;
}

.bigpicture {
  width: 100%;
  background: #c4c4c4;
  border-radius: 85px;
  box-shadow: 0 11px 11px 0 rgba(0,0,0,0.7);
  padding: 10px;
}