
html{
  scroll-behavior: smooth;
}

.App {
  background-image: linear-gradient(to top, #30cfd0 0%, #324084 100%);
  text-align: center;
}

.App {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: block;
  height: 100%;
  width: 100%;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
  /*position: fixed;*/
  margin: 0 auto;
}


.About-Wrapper {
  position: relative;
}

.big-picture {
  /* The image used */
  background-image: url("Big_picture.jpg");
  /* Set a specific height */
  height: 800px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}